<div class="container">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="row">
            <h2> Contact Information</h2>
        </div>
        <form id="job-form" *ngIf="job" #frmRef="ngForm" novalidate="novalidate">
            <div class="form-group row">
                <label for="fname" class="col-sm-2 col-xs-12 col-form-label">First name</label>
                <div class="col-sm-10 col-xs-12">
                    <input type="text" class="form-control required" [(ngModel)]="employer.FisrtName" name="fname" required #employerFirstName="ngModel">
                </div>
            </div>
            <div class="form-group row" [hidden]="employerFirstName.valid || employerFirstName.pristine">
                <label for="company" class="col-sm-2 col-xs-12 col-form-label"></label>
                <div class="col-sm-10 col-xs-12">
                    <div class="alert alert-danger">
                        <p>*Required field. Firstname cannot be empty.</p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="lname" class="col-sm-2 col-xs-12 col-form-label">Last name</label>
                <div class="col-sm-10 col-xs-12">
                    <input type="text" class="form-control required" [(ngModel)]="employer.LastName" name="lname" required #employerLastName="ngModel">
                </div>
            </div>
            <div class="form-group row" [hidden]="employerLastName.valid || employerLastName.pristine">
                <label for="company" class="col-sm-2 col-xs-12 col-form-label"></label>
                <div class="col-sm-10 col-xs-12">
                    <div class="alert alert-danger">
                        <p>*Required field. LastName cannot be empty.</p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="username" class="col-sm-2 col-xs-12 col-form-label">Username</label>
                <div class="col-sm-10 col-xs-12">
                    <input type="text" class="form-control required" [(ngModel)]="employer.Username" name="username" required #employerUsername="ngModel">
                </div>
            </div>
            <div class="form-group row" [hidden]="employerUsername.valid || employerUsername.pristine">
                <label for="company" class="col-sm-2 col-xs-12 col-form-label"></label>
                <div class="col-sm-10 col-xs-12">
                    <div class="alert alert-danger">
                        <p>*Required field. Username cannot be empty.</p>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="email" class="col-sm-2 col-xs-12 col-form-label">Email </label>
                <div class="col-sm-10 col-xs-12">
                    <input type="email" class="form-control required" maxlength="50" [(ngModel)]="employer.Email" name="email" required #employerEmail="ngModel">
                </div>
            </div>
             <div class="form-group row" [hidden]="employerEmail.valid || employerEmail.pristine">
                <label for="company" class="col-sm-2 col-xs-12 col-form-label"></label>
                <div class="col-sm-10 col-xs-12">
                    <div class="alert alert-danger">
                        <p>*Required field. Email cannot be empty.</p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="contact" class="col-sm-2 col-xs-12 col-form-label">Contact </label>
                <div class="col-sm-10 col-xs-12">
                    <input type="text" class="form-control required" [(ngModel)]="employer.Contact" name="contact" required pattern="^[0-9]+$" #employerContact="ngModel">
                </div>
            </div>
            <div class="form-group row" [hidden]="employerContact.valid || employerContact.pristine">
                <label for="company" class="col-sm-2 col-xs-12 col-form-label"></label>
                <div class="col-sm-10 col-xs-12">
                    <div class="alert alert-danger">
                        <p>*Required field. Contact cannot be empty.</p>
                    </div>
                </div>
            </div>
            

            <div class="form-group row">
                <label for="address" class="col-sm-2 col-xs-12 col-form-label">Address</label>
                <div class="col-sm-10 col-xs-12">
                    <input type="text" class="form-control required" [(ngModel)]="employer.Address" name="address" required #employerAddress="ngModel">
                </div>
            </div>
            <div class="form-group row" [hidden]="employerAddress.valid || employerAddress.pristine">
                <label for="company" class="col-sm-2 col-xs-12 col-form-label"></label>
                <div class="col-sm-10 col-xs-12">
                    <div class="alert alert-danger">
                        <p>*Required field. Address cannot be empty.</p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="company" class="col-sm-2 col-xs-12 col-form-label">Company name</label>
                <div class="col-sm-10 col-xs-12">
                    <input type="text" class="form-control required" [(ngModel)]="employer.Company" name="company" required #employerCompany="ngModel">
                </div>
            </div>
            <div class="form-group row" [hidden]="employerCompany.valid || employerCompany.pristine">
                <label for="company" class="col-sm-2 col-xs-12 col-form-label"></label>
                <div class="col-sm-10 col-xs-12">
                    <div class="alert alert-danger">
                        <p>*Required field. Company Name cannot be empty.</p>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="contact" class="col-sm-2 col-xs-12 col-form-label">Email alerts </label>
                <div class="col-sm-10 col-xs-12">
                    <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="employer.ReceiveAlert" name="alert">
                                I would like to receive alert from Ransdad
                    </label>
                </div>
            </div>

            <div class="row">
                <h2> Job Information</h2>
            </div>
            
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-xs-12 col-form-label">Job Title</label>
                <div class="col-sm-10 col-xs-12">
                    <input type="text" class="form-control required" id="txtTitle">
                </div>
            </div>

            <div class="form-group row">
                <label for="company" class="col-sm-2 col-xs-12 col-form-label">Job Specification</label>
                <div class="col-sm-10 col-xs-12">
                    <textarea class="form-control required" id="txtSpecification" rows="3"></textarea>
                </div>
            </div>

            <div class="form-group row">
                 <div class="col-sm-2 col-xs-6 col-sm-offset-10">
                    <button id="btn-save" type="button" class="btn btn-primary"  [disabled]="!frmRef.form.valid" (click)="addJob($event)">
                        <span class="glyphicon glyphicon-plus-sign"></span> Save Job
                    </button>
                 </div>

            </div>

        </form>

        <div class="row">
            <footer class="footer">
                <p>© 2016 Company, Inc.</p>
            </footer>
        </div>
    </div>

</div>