<div class="container">
        
                <div class="col-sm-10 col-md-10 col-xs-12 col-sm-offset-1 col-md-offset-1">
                        <h1> Bello Ya je zari</h1>
                        <div class="row">
                                <a routerLink="/add-job" type="button" class="btn btn-sm btn-primary">Create Job</a>
                        </div>
                        <div class="row job-item" *ngFor="let job of jobs">
                                <div class="row">
                                       <h3> {{job.Title}}</h3>
                                </div>
                                <div class="row specification">
                                        <div [innerHTML]="job.JobSpecification">
                                        </div>
                                </div>

                                <div class="row">
                 
                                        <div class="col-sm-3 col-xs-12">
                                                
                                                <div class="info">
                                                        <span class="glyphicon glyphicon-map-marker"></span> {{job.JobLocation}} |
                                                </div>
                                        </div>
                                        
                                        <div class="col-sm-3 col-xs-12">
                                                
                                                <div class="info">
                                                        <span class="glyphicon glyphicon-calendar"></span> {{job.CreatedOn | date}} |
                                                </div>
                                        </div>
                                        
                                        <div class="col-sm-3 col-xs-12">
                                                <div class="info">
                                                        <span class="glyphicon glyphicon-info-sign"></span> 
                                                        {{job.JobType}} |
                                                </div>
                                        </div>
                                        
                                        <div class="col-sm-3 col-xs-12">
                                                <div class="info">
                                                        <span class="glyphicon glyphicon-user"></span> 
                                                        {{job.Employer.Company}}
                                                </div>
                                        </div>
                                </div>

                                <hr/>
                        </div>

                      <div class="row">
                        <footer class="footer">
                                <p>© 2016 Company, Inc.</p>
                        </footer>
                      </div>  
                </div>
        


</div>