<div class="container">
        <div class="starter template">
                <h1> Bello Ya je zari</h1>
                <div class="card card-outline-secondary mb-3 text-center">
                        <div class="card-block">
                                <blockquote class="card-blockquote">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                        </div>
                </div>
        </div>

</div>